<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :passe %><br>
    <%= f.password_field :passe %>
  </div>
  <div class="field">
    <%= f.label :statut  %><br>
   <%= f.label 'Admin'  %> <%= f.radio_button :statut , 'admin' %>
       <%= f.label 'Enregistré'  %>   <%= f.radio_button :statut , 'enregistré' %>
           
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
