<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Login</th>
      <th>Passe</th>
      <th>Statut</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.login %></td>
        <td><%= user.passe %></td>
        <td><%= user.statut %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<hr>
<h1>Liste des utilisateurs</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
     
      <%= link_to user.login, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, :previous_label => 'Précédent', :next_label => 'Suivant' %>
