<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Passe:</strong>
  <%= @user.passe.gsub(/[a-z0-9]/,'*') %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @user.statut %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
