<%= form_for(@sujet) do |f| %>
<div>
  <% if @sujet.errors.any? %>
  <%= pluralize(@sujet.errors.count,t('error')) %> 
  <ul>
  <% @sujet.errors.full_messages.each do |m| %>
<li><%= m %></li>
  </ul>
  <% end %>
  <% end %>

</div>
<div>
  <%=f.label :titre %>
  <%=f.text_field :titre %>
</div>
<div>
<%= f.label :contenu %>
<%= f.text_area :contenu %>
</div>
<div>
  <%= f.submit  'Valider'%>
</div>
<% end %>
