<marquee><%=t('hello')%></marquee>
<h1>Listing sujets</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sujets.each do |sujet| %>
      <tr>
        <td><%= sujet.titre %></td>
        <td><%= sujet.contenu %></td>
        <td><%= link_to 'Show', sujet %></td>
        <td><%= link_to 'Edit', edit_sujet_path(sujet) %></td>
        <td><%= link_to 'Destroy', sujet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sujet', new_sujet_path %>
