<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @sujet.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @sujet.contenu %><br>
  <span>créé le : <%=time_ago_in_words @sujet.created_at %></span>
</p>

<%= link_to 'Modifier', edit_sujet_path(@sujet) %> |
<%= link_to 'Retour aux sujets', sujets_path %>
